//for-desktop
@media (min-width: 1025px) {
}

//big-desktop
@media (max-width: 1440px) {
}

//small-desktop
@media (max-width: 1200px) {
  .header__nav {
    display: none;
  }

  .header__social {
    display: inline-block;
  }
}

//tablet
@media (max-width: 1024px) {
  .present__title {
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    max-width: 100%;
  }

  .present__left {
    width: 100%;
  }

  .present__inner {
    flex-direction: column;
  }

  .present__explain {
    width: 100%;
  }

  .present__explain-list {
    grid-template-columns: repeat(4, 1fr);
    gap: normal;
    justify-content: space-between;
  }

  .present__filter {
    margin-top: 10px;
    min-width: 100%;
  }

  .range {
    justify-content: start;
    & output {
      padding-left: 20px;
    }
  }
}

//high-tablet
@media (max-width: 992px) {
  .servises-list__item br {
    display: initial;
  }
  .servises-list__sublist {
    margin-top: 63px;
  }

  .present__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .present__title-price {
    margin-bottom: 40px;
    font-size: 26px;
    text-align: center;
    & span {
      font-size: 42px;
    }
  }

  .present__explain-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .present__explain-item {
    justify-self: center;
  }

}

//small-tablet
@media (max-width: 768px) {
  .header__top {
    flex-wrap: wrap;
  }

  .header__logo {
    width: 50%;
  }

  .header__logo-img {
    margin: 0 auto;
    width: 160px;
    height: auto;
  }

  .header__info {
    margin: 0 auto;
    width: 180px;
  }

  .header__social {
    margin-top: 30px;
    width: 50%;
    text-align: center;
  }

  .header__btn {
    margin: 0 auto;
    position: relative;

    width: 178px;
    margin-top: 30px;
  }

  .servises-list__title {
    padding-right: 15px;
  }

}

//mobil
@media (max-width: 576px) {

  .header__top {
    padding: 28px 0;
    border-bottom: none;
    position: relative;
  }

  .header__info {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__logo {
    width: 126px;
    margin: 0 auto;
  }

  .header__bottom {
    display: none;
  }

  .header__open-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }

  .header__open-el.active {
    background-color: transparent;
    &::before {
      background-color: red;
      transform: rotate(45deg);
      top: 0;
    }
    &::after {
      background-color: red;
      transform: rotate(135deg);
      bottom: 0;
    }
  }

  .header__nav {
    padding: 20px;
    border: 1px solid $lightgreen-color;
    position: absolute;
    display: block;
    width: 80%;
    bottom: -657px;
    border-left: none;
    transform: translateX(-1000px);
    transition: .5s ease-in-out;
  }

  .header__nav.active {
    transform: translateX(0px);
  }

  .nav__list {
    width: 100%;
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $lightgreen-color;
    font-weight: 500;
    font-size: 18px;
    &:last-child {
      margin-bottom: none;
    }
  }

  .nav__link {
    display: block;
    width: 100%;
  }

  .header__btn-mobile {
    padding: 12px 20px;
    background-color: $lightgreen-color;
    border-radius: 3px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .header__tel-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }

  .header__bottom-list.mobile {
    display: block;
  }

  .servises-list__item:hover .servises-list__wrapper {
    transform: translite(0);
  }

  .servises-list__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: 1px solid $lightgreen-color;
    & br {
      display: none;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .servises-list__title::after {
    display: none;
  }

  .servises-list__wrapper {
    display: none;
  }

  .servises-list__item-link {
    &:hover {
      color: $blue-color;
    }
  }

  .present__title {
    font-size: 22px;
    line-height: 30px;
  }

  .present__explain-list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .filter {
    width: 100%;
  }

  .filter__item-inner {
    grid-template-columns: 1fr;
  }

  .filter__result {
    flex-direction: column;
  }

  .filter__result-deadline {
    margin-bottom: 30px;
  }

  .filter__item-inner.quantity {
    grid-template-columns: 65px 65px 65px 65px;
  }

  .filter__btn {
    display: block;
    margin-top: 40px;
    width: 200px;
  }

}
