//for-desktop
@media (min-width: 1025px) {
}

//big-desktop
@media (max-width: 1440px) {
}

//small-desktop
@media (max-width: 1200px) {
  .header__nav {
    display: none;
  }

  .header__social {
    display: inline-block;
  }

  .filter__btn {
    display: block;
    margin-top: 20px;
    width: 202px;
  }

  .price__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .price__card {
    margin: 0 auto;
  }

  .example-slider__slide {
    flex-direction: column;
  }

  .example-slider__slide-img {
    margin: 0 auto;
  }

  .example-slider__slide-info {
    margin-top: 20px;
    max-width: 633px;
    border-radius: 6px;
    width: 100%;
    margin: 0 auto;
  }

  .example-slider__inner-button-next {
    display: none;
  }

  .action__inner {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .providers__descr {
    max-width: 100%;
    text-align: center;
  }

  .providers__inner {
    flex-wrap: wrap;
  }

  .providers__discount {
    margin-top: 40px;
    padding: 19px 25px;
    width: 100%;
    margin-right: 0;
  }

  .providers__discount-wrapper {
    display: inline-flex;
    margin-bottom: 0;
  }

  .providers__list {
    width: 100%;
    order: -1;
  }

  .providers__discount-btn {
    display: inline;
    margin-left: 40px;
    transform: translateY(9px);
  }

  .questions__consult-inner {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }

  .questions__consult-title {
    margin-bottom: 10px;

  }
}


//tablet
@media (max-width: 1024px) {
  .present__title {
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    max-width: 100%;
  }

  .present__left {
    width: 100%;
  }

  .present__inner {
    flex-direction: column;
  }

  .present__explain {
    width: 100%;
  }

  .present__explain-list {
    grid-template-columns: repeat(4, 1fr);
    gap: normal;
    justify-content: space-between;
  }

  .present__filter {
    margin-top: 10px;
    min-width: 100%;
  }

  .range {
    justify-content: start;
    & output {
      padding-left: 20px;
    }
  }

  .filter__btn {
    display: inline;

  }

  .control__info {
    flex-direction: column;
  }

  .control__img {
    width: 100%;
  }

  .control__list {
    margin-bottom: 20px;
    order: -1;
  }
}

//high-tablet
@media (max-width: 992px) {
  .servises-list__item br {
    display: initial;
  }
  .servises-list__sublist {
    margin-top: 63px;
  }

  .present__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .present__title-price {
    margin-bottom: 40px;
    font-size: 26px;
    text-align: center;
    & span {
      font-size: 42px;
    }
  }

  .present__explain-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .present__explain-item {
    justify-self: center;
  }

  .wedo__list {
    flex-direction: column;
  }

  .wedo__item {
    padding-bottom: 0;
    padding-left: 35px;
    width: 40%;
    display: flex;
    align-self: center;
    transform: translateX(-50%);
    align-items: center;
    min-height: 120px;
    text-align: left;
    &::before {
      left: 0;
      top: 0;
      bottom: 0;
      height: 120%;
      width: 6px;
    }
    &::after {
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .wedo__item-img {
    margin-right: 30px;
  }

  .benefits__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .benefits__item {
    margin-bottom: 20px;
    display: flex;
    width: 47%;
  }

  .benefits__item:last-child {
    margin-bottom: 0;
  }

  .benefits__item-img {
    margin-right: 20px;
  }

}

//small-tablet
@media (max-width: 768px) {
  .header__top {
    flex-wrap: wrap;
  }

  .header__logo {
    width: 50%;
  }

  .header__logo-img {
    margin: 0 auto;
    width: 160px;
    height: auto;
  }

  .header__info {
    margin: 0 auto;
    width: 180px;
  }

  .header__social {
    margin-top: 30px;
    width: 50%;
    text-align: center;
  }

  .header__btn {
    margin: 0 auto;
    position: relative;

    width: 178px;
    margin-top: 30px;
  }

  .servises-list__title {
    padding-right: 15px;
  }

  .price__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .price__card, .card {
    max-width: 60%;
  }

  .tabs__nav {
    flex-wrap: wrap;
  }

  .tabs__btn {
    width: calc(50% - 4px);
    margin-bottom: 10px;
  }

  .control__list {
    grid-template-columns: 1fr 1fr;
  }

  .providers__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .providers__discount-wrapper {
    margin-bottom: 40px;
  }

  .providers__discount-btn {
    margin-left: 0;
    width: 100%;
  }

  .questions__consult-inner {
    display: flex;
    width: 100%;
  }

  .questions__consult-text {
    font-weight: 300;
    font-size: 14px;
  }

  .questions__consult-btn {
    position: sticky;
    transform: translateY(0);
    margin-top: 20px;
    width: 100%;
  }
}



//mobil
@media (max-width: 576px) {

  .header__top {
    padding: 28px 0;
    border-bottom: none;
    position: relative;
  }

  .header__info {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__logo {
    width: 126px;
    margin: 0 auto;
  }

  .header__bottom {
    display: none;
  }

  .header__open-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }

  .header__open-el.active {
    background-color: transparent;
    &::before {
      background-color: red;
      transform: rotate(45deg);
      top: 0;
    }
    &::after {
      background-color: red;
      transform: rotate(135deg);
      bottom: 0;
    }
  }

  .header__nav {
    padding: 20px;
    border: 1px solid $lightgreen-color;
    position: absolute;
    display: block;
    width: 80%;
    bottom: -657px;
    border-left: none;
    transform: translateX(-1000px);
    transition: .5s ease-in-out;
  }

  .header__nav.active {
    transform: translateX(0px);
  }

  .nav__list {
    width: 100%;
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $lightgreen-color;
    font-weight: 500;
    font-size: 18px;
    &:last-child {
      margin-bottom: none;
    }
  }

  .nav__link {
    display: block;
    width: 100%;
  }

  .header__btn-mobile {
    padding: 12px 20px;
    background-color: $lightgreen-color;
    border-radius: 3px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .header__tel-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }

  .header__bottom-list.mobile {
    display: block;
  }

  .servises-list__item:hover .servises-list__wrapper {
    transform: translite(0);
  }

  .servises-list__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: 1px solid $lightgreen-color;
    & br {
      display: none;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .servises-list__title::after {
    display: none;
  }

  .servises-list__wrapper {
    display: none;
  }

  .servises-list__item-link {
    &:hover {
      color: $blue-color;
    }
  }

  .present__title {
    font-size: 22px;
    line-height: 30px;
  }

  .present__explain-list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .filter {
    width: 100%;
  }

  .filter__item-inner {
    grid-template-columns: 1fr;
  }

  .filter__result {
    flex-direction: column;
  }

  .filter__result-deadline {
    margin-bottom: 30px;
  }

  .filter__item-inner.quantity {
    grid-template-columns: 65px 65px 65px 65px;
  }

  .filter__tel-title {
    text-align: center;
  }

  .filter__phone {
    display: block;
    margin: 0 auto;
    width: 90%;
    // min-width: 300px;
    margin-bottom: 20px;
  }

  .filter__btn {
    display: block;
    width: 90%;
    margin: 0 auto;

  }

  .price__card, .card {
    min-width: 280px;
  }

  .present {
    padding-bottom: 0;
  }

  h3 {
    font-size: 26px;
    line-height: 30px;
  }

  section {
    padding: 30px 0 20px 0;
  }

  .example {
    padding-bottom: 30px;
  }

  .example-slider__slide-info {
    padding-left: 40px;
  }

  .slide-info__item-title {
    width: 45%;
  }

  .tabs__btn {
    width: calc(100% - 4px);
    margin-bottom: 10px;
  }

  .action__img {
    max-width: initial;
  }

  .wedo__inner {
    flex-direction: column;
    align-items: center;
  }

  .wedo__list {
    width: 90%;
  }

  .wedo__text {
    margin-bottom: 40px;
  }


  .benefits__item {
    width: 100%;
  }

  .benefits__img-inner {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .control__list {
    grid-template-columns: 1fr;
  }

  .providers {
    padding-bottom: 40px;
  }

  .providers__discount {
    padding: 30px 25px;
  }

  .providers__discount-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .providers__discount-info {
    margin-bottom: 20px;
  }

  .providers__descr {
    margin-bottom: 30px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .questions__accordeon-header {
    font-size: 14px;
    line-height: 18px;
  }

  .questions__accordeon-content {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .questions__accordeon-content::before {
    left: 10px;
    right: 10px;
  }
}
