//var fonts
$main-font:    Helvetica, sans-serif;

// var color
$primary-color: #333;
$lightgreen-color: #6cac3d;
$dark-color: #171616;
$blue-color: #2d4872;
$gray-color: #c4c4c4;
$darkgray-color: #f2f2f2;

