.header {
  margin: 23px 0 33px;
  &__top {
    padding-bottom: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $lightgreen-color;
  }

  &__logo {
    width: 126px;
    height: auto;
  }

  // &__logo-img {
  // }

  // &__nav {
  // }

  // &__info {
  // }

  &__tel {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

  &__tel-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }

  &__tel-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  // &__schedule {
  // }

  &__schedule-text {
    font-size: 14px;
    line-height: 16px;
  }

  &__social {
    display: none;
  }

  &__social-link {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__social-icon {
    width: 26px;
    height: 26px;
    display: inline-block;

  }

  &__btn {
    margin-left: -15px;
    padding: 12px 24px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $lightgreen-color;
    border: 1px solid $lightgreen-color;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s;
    &:hover {
      background-color: $lightgreen-color;
      color: #fff;
    }
  }

  &__open-btn {
    padding: 0;
    margin: 0;
    width: 35px;
    height: 20px;
    background-color: transparent;
    border: none;
    display: none;
    cursor: pointer;
  }

  &__open-el {
    display: block;
    width: 35px;
    height: 3px;
    background-color: $blue-color;
    position: absolute;
    transition: .4s;
    &::before {
      content: "";
      width: 35px;
      height: 3px;
      background-color: $blue-color;
      position: absolute;
      top: 8px;
      left: 0;
      transition: .4s;
    }
    &::after {
      content: "";
      width: 35px;
      height: 3px;
      background-color: $blue-color;
      position: absolute;
      bottom: 8px;
      left: 0;
      transition: .4s;
    }
  }

  &__open-img {
    width: 100%;
  }

  &__btn-mobile {
    display: none;
  }

  &__bottom {
    padding: 21px 0;
    border-bottom: 1px solid $lightgreen-color;
  }

  // &__bottom-list {

  // }
}

.nav {

  &__list {
    display: flex;
    width: 594px;
    justify-content: space-between;
  }

  &__link {
    transition: all .4s;
    &:hover {
      color: #014daa;
    }
  }
}
.servises-list {
  display: flex;
  justify-content: space-between;

  &__item {
    font-weight: 500;
    line-height: 19px;
    position: relative;
    // cursor: pointer;
    & br {
      display: none;
    }
  }

  &__title {
    padding-right: 22px;
    display: block;
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url('../img/arrow-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 14px;
      height: 8px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transition: .4s;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-25%, -35%) scale(0);
    transition: .4s ease-in-out
  }

  &__sublist {
    margin-top: 45px;
    width: 250px;
    padding: 25px 40px 37px;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.25);
    // opacity: 0;
    transition: .8s;
  }

  &__subitem {
    line-height: 19px;
    font-weight: 400;
    position: relative;
  }

  &__sublink {
    display: inline-block;
    width: 100%;
    height: 40px;
  }

  &__sublink-wrapper {
    position: absolute;
    width: 200px;
    height: 40px;
    top: -11px;
    left: -15px;
    border: 1px solid $lightgreen-color;
    z-index: -1;
    opacity: 0;
    transition: .3s;
  }

  // &__item-link {
  // }
}

//Выпадающее меню

.servises-list__item:hover .servises-list__title::after {
  transform: rotate(180deg);
  top: calc(50% - 4px);
}

.servises-list__item:hover .servises-list__wrapper {
  transform: translateY(0%) scale(100%);
}

.servises-list__subitem:hover .servises-list__sublink-wrapper {
  opacity: 1;
}